@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scan {
  0%, 100% { transform: translateY(-100%); }
  50% { transform: translateY(100%); }
}

.animate-scan {
  animation: scan 10s ease-in-out infinite;
}
